body{
    height: 100%;
    background: #f2f2f2;
    font-size: 14px;
    font-family: 幼圆;
}

a{text-decoration: none;}
.main{
    height: 100%;
    margin: 0 auto;
}

/*--------------------头部----------------------*/
.main .home_header{
    position: relative;
    z-index: 14;
    width: 100%;
    height: 44px;
    background: linear-gradient(#6aabff,#2EAAE0);
}
.main .home_header h1{
    padding-top: 64px;
    line-height: 44px;
    text-align: center;
    font-size:1.8em;
    color: #fff;
}
.main .home_header i{
    font-size: 2em;
    position: absolute;
    top:3px;
    color: #FFFFFF;
}
.main .home_header i.icon-arrow-right-copy{
    left: 5px;
}
.main .home_header i.icon-xiaoxi{
    right: 5px;
}


/*---------------------搜索box----------------------*/
.main .login_box{
    position: relative;
    z-index: 2;
    padding-top: 100px;
    height: 56px;
    background: linear-gradient(#2EAAE0,#4654D1);
    text-align: center;
}
.main .login_box .login_btn{
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    cursor: default;

}
.main .login_box #btnLogin{
    background-color:#FF9A14 ;
}
.main .login_box #btnMobile{
    background-color:#5C98E6 ;
}

button{
    border-style:solid;
    border-width:1px;
    border-color:#CCCCCC;
}

/*----------------------内容---------------------*/
.main .my_content{
    position: relative;
}
section{
    overflow: hidden;
}
section .content_list{
    width: 100%;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
}
section .list_card li{
    display: list-item;
    background: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
}

section .content_list li .iconfont{
    font-size: 1em;
    padding-right: 5px;
    color: #999;
}
section .content_list li em{
    float: none;
    display: block;
    line-height: 1;
    margin-top: 10px;
    font-size: 0.8em;
    color: #999;
}
section .content_list li em i{
    font-style:normal ;
    padding:0 20px ;
}
section .list_card li:nth-of-type(1) {
    height: auto;
    line-height: 1.8;
    padding: 15px 10px 15px 30px;
    border-bottom: 1px solid #efefef;
    text-align: left;
}
section .list_card li:nth-of-type(2), .list_card li:nth-of-type(3), .list_card li:nth-of-type(4){
    float: left;
    width: 33.333%;
    background: #fff;
    border-right:1px solid #efefef ;
    padding: 15px 0 ;
}
section .list_card li:nth-of-type(4){
    border-right:none ;
}
section .content_lists{
    width: 100%;
    background: #fff;
    overflow: hidden;
    margin: 0 0 15px 0;
}
section .content_lists li {
    position: relative;
    padding: 0 25px 0 0;
    border-top: 1px solid #efefef;
    height: 55px;
    line-height: 55px;
    margin-left: 16px;
    font-size: 18px;

}
section .content_lists li em{
   float: right;
    right: 20px;
    font-size: 16px;
    color: #999;
}
section .content_lists li:after {
    position: absolute;
    right: 10px;
    top: 50%;
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    border: solid #999;
    border-width: 1px 1px 0 0;
    -webkit-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg);
}

@media (min-width:560px ){
    section ,.main{
        width: 560px;
    }
}

