*{padding: 0;margin: 0;text-decoration: none;}
#cav{
	height: 100%;position: fixed;left: 0;width: 40px;background: orangered;
}
#cav a{
	display: block;color: #fff;text-align: center;line-height: 100px;border-bottom: 1px solid black;
}
#cav .active{
	background:orange ;
}
#content .m{
	width: 100%;height: 800px;font-size: 100px;text-align: center;line-height: 800px;
}
.m1,.m3,.m5{background: lightblue;}
.m2,.m4,.m6{background: lightpink;}