*{
	margin: 0;
	padding: 0;
}
#box{
	position: relative;
	width: 450px;
	height: 450px;
	margin: 50px;
}
#box #pic{
	width: 100%;
	height: 100%;
}
#box #glassess{
	position: absolute;
	left: 0;
	top: 0;
	background: #e5f7ff;
	opacity: 0.5;
	display: none;
}
#box #bigPic{
	position: absolute;
	width: 450px;
	height: 450px;
	overflow: hidden;
	left: 460px;
	top:0;
	display: none;
}
